html,
body {
  font-family: "Archivo", sans-serif;
}

p {
  font-size: larger;
  font-weight: 500;
  word-spacing: 5px;
  line-height: 26pt;
}

h1,
h2,
h3,
h4,
h5,
button {
  font-family: "Archivo Black", sans-serif;
}

div#root {
  width: 100%;
  height: 100%;
  background-color: yellow;
}

/*************************** nav ******************************/
nav {
  background-color: black;
  width: 100%;
  height: 18vh;
  position: fixed;
  z-index: 10;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

a.nav-links {
  color: white;
}

a.nav-links:hover {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

div#nav-heading-links {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

img#nav-logo {
  height: 6em;
}

/* ****************************************** */

div.container {
  width: 100vw;
}

div.row {
  width: 100%;
  height: 100%;
  margin: 0px;
}

button.main-button {
  width: fit-content;
  height: fit-content;
  margin: 10px;
  border-radius: 50px;
  font-size: 2.2em;
  /* font-weight: bolder; */
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: all 0.2s ease-in-out;
}

input.input-box {
  height: fit-content;
  width: fit-content;
  font-size: 20px;
  font-family: "Archivo", sans-serif;
  padding: 20px;
  margin:5px;
}

input.sign-up-button {
  height: fit-content;
  width: fit-content;
  border-radius: 50px;
  border: none;
  font-size: 35px;
  font-family: "Archivo Black", sans-serif;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom:10px;
}



/************************* connect *************************/

div#home-connect{
  min-height:75vh;
  min-width:100%;
  padding:20px;
  display:grid;
  justify-items: center;
  background-color: black;
  margin:0px;
}

h1#home-connect-title{
  margin-bottom:30px;
}

div#home-connect-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
}

small#home-connect-small-text{
  color:white;
}

form#home-connect-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.form-sections{
  margin:10px;
}

/************************* ********* *************************/