@font-face {
  font-family: myArchivoBlack;
  src: url(fonts/ArchivoBlack-Regular.ttf);
}

@font-face {
  font-family: myArchivoRegular;
  src: url(fonts/Archivo-Regular.ttf);
}

@font-face {
  font-family: myArchivoThin;
  src: url(fonts/Archivo-Thin.ttf);
}

html, body {
  font-family: 'myArchivoRegular';
}

h1,h2,h3 {
  font-family: 'myArchivoBlack', 'Courier New', Courier, monospace;
}

div#root {
  width: 100%;
  height: 100%;
  background-color: yellow;
}

/* nav */
nav{
    background-color:black;
    width:100%;
    height:18vh;
    position:fixed;
    z-index:10; 
    color:white;

    display:flex; 
    justify-content: space-between;
    align-items: center;
    padding:20px;
}

a.nav-links{
    color:white;
}

a.nav-links:hover{
    color:grey;
    text-decoration:none;
    cursor:pointer;
}

div#nav-heading-links{
    width:500px;
    display:flex;
    justify-content: space-between;
}

img#nav-logo{
  height: 6em;
}



div.container {
  width: 100vw;
}

div.row{
    width: 100%;
    height:100%;
    margin:0px;
}

button.main-button {
  width: 400px;
  height: 80px;
  margin: 10px;
  border-radius: 50px;
  font-size: 2.5em;
  /* font-weight: bolder; */
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}


