/*** intro ***/
div#home-intro{
    /* sizing */
    max-width:100%;
    height:100vh;
    background-color: white;
    margin:0px;
    padding:0px;
}

div#home-intro-button-message{
    /* formatting */
    display:grid;
    align-content:center;
    justify-items: center;
}

div.intro-cols{
    height:100vh;
}

h1#home-intro-message{
    text-align: center;
    width:90%;
    font-size: 4.5em;
    margin-bottom:50px;
    /* font-weight: bolder; */
    margin-top:80px;
}

button#home-intro-button{
    color:white;
    background-color:black;
}

button#home-intro-button:hover{
    background-color: rgb(33, 33, 33);
}




/*** services ***/

div#home-services{
    min-height:80vh;
    min-width:100%;
    background-color: white;
    margin:0px;
}

div#home-services-button-message{
    display:grid;
    /* align-content:center; */
    /* justify-items: center; */
    /* background-color:red; */
    min-height:80vh;
}

h1#home-services-message{
    /* text-align: center; */
    font-size: 4.3em;
    /* margin-bottom:50px; */
    /* font-weight: bolder; */
    height:100px;
    padding-top:150px;
}

button#home-services-button{
    background-color:black;
    color:white;

}

button#home-services-button:hover{
    background-color:rgb(33, 33, 33);
    
}

div.home-services-name{
    padding-bottom: 5px;
}

div#home-services-info-holder{
    min-height: 80vh;

    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-right:150px;
}

div.home-services-info-container{
    border-top: 1px solid black;
    padding-top: 13px;
    padding-bottom: 3px;  
}

div#home-services-tiktok{
    border-bottom: 1px solid black;
}

div.home-services-name:hover{
    cursor:pointer;
}

div.home-services-info{
    width:70%;
}



/*** community ***/

div#home-community{
    min-height:80vh;
    min-width:100%;
    background-color: grey;
    margin:0px;
}

div.home-community-cols{
    padding-left: 15px;
    padding-right:15px;
    height:80vh;
    display:flex;
    align-items:center;
}

div#home-community-cols-join{
    justify-content: flex-end;
}

div#home-community-cols-info{
    padding-left:70px;
}

div#home-community-info{
    width:65%;
}

div#home-community-info p{
    font-size:22px;
    line-height: 45px;
    font-weight:bolder;
    color:white;
}



div#home-community-join{
    background-color: rgba(209, 209, 209, 0.5);
    height:70%;
    width:85%;
    border-radius:40px;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:50px;
    padding-right:50px;

    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div#home-community-form-container{
  padding-bottom:30px;  
}

form#home-community-form{
    padding-top:10px;
}


input#home-community-form-submit{
    color:white;
    background-color:black;
    transition: all 0.2s ease-in-out;

}

input#home-community-form-submit:hover{
    background-color:rgb(33, 33, 33);
}







